PORT=3003
#NATS_SERVERS="nats://localhost:4222, nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"


POSTGRES_USER=root
POSTGRES_PASSWORD=23Ron16*
POSTGRES_DB=auth_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_URI=postgresql://localhost:5432/home_db

JWT_SECRET='Adelfuns the seal the rebellion of the fallen'

TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=23Ron16*
TYPEORM_DATABASE=auth_db
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGIN=true
TYPEORM_ENTITIES=src/**/**/*.entity.ts

TYPEORM_MIGRATIONS=src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_MIGRATIONS_TABLA_NAME=migrations
