[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:ronalfonso/wl-client-gateway.git
[submodule "home-ms"]
	path = home-ms
	url = https://gitlab.com/ronalfonso/home-ms
[submodule "auth-ms"]
	path = auth-ms
	url = git@gitlab.com:ronalfonso/auth-ms.git
