[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:ronalfonso/wl-client-gateway.git
[submodule "home-ms"]
	path = home-ms
	url = git@github.com:ronalfonso/home-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = git@github.com:ronalfonso/auth-ms.git
